.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gridProductos{
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  margin: 0 10%};
  

.itemGrid{
  grid-template-columns: auto;
}


.card-body img{
  width:-webkit-fill-available;
}

.cartBox{

  margin: 0 30%
}
.cartBox ul,li{
  list-style: none;
}

.cartItem{
  margin-bottom: 5%;
  border-style: groove;
}

.formularioContacto {
  display: block;
  margin-top: 1em;
 
}
.formularioContacto label{
  font-size: large;

  justify-content: left;
}
.formularioContacto input{
  margin-left: 0.5em;
  margin-right: 0.5em;
  
  justify-content: right
}
.formularioContacto button{
  
margin-top: 1em;
}